{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "darknessexplosion",
      "direction" : [1, 0]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/explosions/darknessexplosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.8,
      "delaySteps" : 2
    }
  ]
}
